//COLORS
$color-primary:rgb(0, 110, 255);
$color-primary-light:rgba(0, 225, 255, 0.80);
$color-primary-dark:rgba(38, 0, 255, 0.80);

$color-secondary-light: #7769f8;
$color-secondary-dark: #732df7;

$color-tertiary-light:#ffee00;
$color-tertiary-dark:#ff9430;

$color-gray-light-1: #f7f7f7;

$color-gray-dark: #777;
$color-gray-dark-2: #777;
$color-gray-dark-3: #333;
$color-gray-light: #eee;
$color-white: #fff;
$color-black: #000;

$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;